<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>
    <main>
      <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter an author or a title" required>
        <fieldset>
          <label for="title">Title:</label>
          <input type="radio" name="search" value="title">
        </fieldset>
        <fieldset>
          <label for="author">Author:</label>
          <input type="radio" name="search" value="author">
        </fieldset>
        <button type="submit">Search the Google Books API</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>