<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header></header>
    <main>
      <%= error.message %>
    </main>
    <footer></footer>
  </body>
  
</html>